In [13]:
import pandas as pd
from datetime import datetime, date, timedelta

In [19]:
data = pd.read_parquet('../data/data.parquet')
data_backup = pd.read_parquet('../data/data_backup.parquet')

In [22]:
data.shape

(239, 3)

In [24]:
data.tail()

           date time_of_day  weight
106  2023-04-06     morning    88.5
107  2023-04-06     evening    89.3
108  2023-04-07     morning    88.0
109  2023-04-07     evening    88.0
110  2023-04-08     morning    88.0

In [23]:
data_backup.tail()

(128, 3)