In [1]:
import pandas as pd

In [26]:
df_old = pd.read_csv("../data.csv")

In [27]:
min(df_old["date"])

'2022-12-08'

In [28]:
max(df_old["date"])

'2023-02-10'

In [18]:
df_old

           date time_of_day  weight
0    2022-12-08     morning    93.6
1    2022-12-08     evening    94.3
2    2022-12-09     morning    92.4
3    2022-12-10     evening    94.4
4    2022-12-11     morning    93.6
..          ...         ...     ...
124  2023-02-09     morning    88.2
125  2023-02-09     evening    90.2
126  2023-02-10     morning    89.1
127  2023-02-10     evening    89.0
128  2023-02-11     morning    87.8

[129 rows x 3 columns]

In [32]:
filename = f"../data_{min(df_old['date']).replace('-', '.')}-{max(df_old['date']).replace('-', '.')}.parquet"

In [43]:
filename

'../data_2022.12.08-2023.02.10.parquet'

In [33]:
df_old.to_parquet(filename)

In [34]:
df = pd.read_parquet(filename)

In [21]:
df

           date time_of_day  weight
0    2022-12-08     morning    93.6
1    2022-12-08     evening    94.3
2    2022-12-09     morning    92.4
3    2022-12-10     evening    94.4
4    2022-12-11     morning    93.6
..          ...         ...     ...
124  2023-02-09     morning    88.2
125  2023-02-09     evening    90.2
126  2023-02-10     morning    89.1
127  2023-02-10     evening    89.0
128  2023-02-11     morning    87.8

[129 rows x 3 columns]

In [35]:
new_df = pd.DataFrame(
    {"date": pd.date_range(start="2023-02-11", end="2023-03-31", freq="12H")[:-1]}
)
new_df["date"] = pd.to_datetime(new_df["date"]).dt.date
tod = ["morning", "evening"] * (len(new_df) // 2)
new_df["time_of_day"] = tod
new_df["weight"] = None

In [36]:
new_df

          date time_of_day weight
0   2023-02-11     morning   None
1   2023-02-11     evening   None
2   2023-02-12     morning   None
3   2023-02-12     evening   None
4   2023-02-13     morning   None
..         ...         ...    ...
91  2023-03-28     evening   None
92  2023-03-29     morning   None
93  2023-03-29     evening   None
94  2023-03-30     morning   None
95  2023-03-30     evening   None

[96 rows x 3 columns]

In [37]:
new_df.to_csv('../data_current.csv', index=False)

In [38]:
df_parquet = pd.read_parquet(filename)
df_csv = pd.read_csv('../data_current.csv')

In [42]:
pd.concat([df_parquet, df_csv], ignore_index=True)

           date time_of_day  weight
0    2022-12-08     morning    93.6
1    2022-12-08     evening    94.3
2    2022-12-09     morning    92.4
3    2022-12-10     evening    94.4
4    2022-12-11     morning    93.6
..          ...         ...     ...
219  2023-03-28     evening     NaN
220  2023-03-29     morning     NaN
221  2023-03-29     evening     NaN
222  2023-03-30     morning     NaN
223  2023-03-30     evening     NaN

[224 rows x 3 columns]